	<header class="bar bar-nav">
           <a class="btn-bar btn-nav pull-left btn-back-img"  href="javascript:;" onclick="history.back();">
                    <span class="icon icon-left-nav pull-left"></span>
                    <img class="vertical-center" src="assets/img/logo-mini.png"/>
            </a>
            <div class="btn btn-nav dropdown pull-right" id="btn-menu">
                <div class="dropdown-rotulo">{{nombre_usuario}}</div>
            </div>
            <h1 class="title">Registro de Salida</h1>
        </header>
	<style type="text/css">

		.row-trio{
		  grid-template-columns: 40% 35% 25% !important;
		}

		input[type=number] {
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		    padding: 0 10px;
		    font-size: 16px;
		    border-radius: 2px;
		}

		.bar input[type=number] {
		    height: 35px;
		   	margin: 6px 0;
		}

		.bar-standard form{
			display: grid;
		    margin: 0;
		    padding: 0;
		    grid-template-columns: 70% auto;
		}

		.resultado-mensaje{
			padding: 10px 12px;
		    color: white;
		    font-size: 20px;
    		margin-bottom: 8px;
		}
		.resultado-mensaje.no-encontrado{
		    background-color: #ff4d4d;
		    border: 2px solid #e99292;
		}
		.resultado-mensaje.encontrado{
		    background-color: #5cb85c;
		    border: 2px solid #8aba8a;
		}

		.resultado-mensaje.encontrado-existente{
		    background-color: #f1cf29;
		    border: 2px solid #8aba8a;
		}

		.content{
			padding-top: 200px !important;
		}

		.table-view-row{
			grid-template-columns: 33% auto;
		}

		.zona-registros{
			font-size: 11.5px;
		    text-align: center;
			font-weight: bold;
			padding: 2px;
		}

		.horatero{
			background-color: white;
		    margin: 0;
		    padding: 10px 0px;
		    border: 10px solid #33b5e5;
			bottom: 0;
		    position: absolute;
		    width: 100%;
		    right: 0;
		    font-size: 3.5em;
		    text-align: center;
		    height: 80px;
		}

		.busqueda-resultado{
			position: absolute;
		    top: 130px;
		    width: 100%;
		    height: min-content;
		    z-index: 100;
		}

		.busqueda-resultado-container{
            margin: 0px 10px 10px 10px;
		    background: white;
		}

		.lista-asistencia{
			margin-top: 0px !important;
			z-index: 99;
		}

		.table-view{
			overflow-y: auto;
    		height: 100%;
		}

		.table-view-cell{
			padding: 5px 45px 5px 10px;
		}

		.labor{
			text-overflow: ellipsis;
		    white-space: nowrap;
		    overflow: hidden;
		    font-size: 12px;
		}

		.nombre{
			line-height: 1.3;
		}

		.tipo-registro{
			font-size: 12px;
    		font-weight: bold;
		}
 
		.content-listado{ 
			height: 100%; 
    		overflow: auto; 
		} 
 
        .badge-turno-enviado{ 
            color: white !important; 
            padding: 2px; 
        } 
 
        .btn-scan{
        	font-size: 1.1em !important;
        }

        select{
        	margin: 0
        }

        .btn-eliminar{
        	position: absolute;
		    right: 0;
		    top: 0;
		    padding: 8px 12.5px;
		    background: #f33b3b;
		    z-index: 200;
		    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        }

        .toggle-tareado{
        	width: 144px !important;
        }

        .toggle-tareado.active .toggle-handle{
        	background-color: #0f6584;
    		border-color: #1f4e5f;
        }

        .toggle-tareado .toggle-handle{
        	width: 90px;
			background-color: #2196F3;
			border: 1px solid #2196F3;
        }

        .toggle-tareado.active:before {
		    content: "JORNAL";
		    right: 11px;
		}

		.toggle-tareado:before {
		    content: "TAREAS";
		 }

		.toggle-hextras.active:before {
		    content: "SÍ";
		    right: 11px;
		}

		.toggle-hextras:before {
		    content: "NO";
		 }
	</style>

	    <div class="bar bar-standard bar-header-secondary" style="height: 155px;">	 
            <ul class="table-view">
            	<li class="table-view-cell">
               		<b>Fecha: <span class="fecha">{{fecha_registro}}</span></b>
            	</li>
            	<li class="table-view-cell">
				    <small>Modo de Trabajo:</small>
				    <div class="toggle toggle-tareado active modo-tareado">
				      <div class="toggle-handle"></div>
				    </div>
				</li>
				<li class="table-view-cell">
				    <small><i>Horas Extras:</i></small>
				    <div class="toggle toggle-hextras modo-horasextras">
				      <div class="toggle-handle"></div>
				    </div>
				</li>
				<form>
				  <input type="number" placeholder="Ingresar DNI" maxlength="8" class="">
				  <div class="zona-registros"><button class=" btn-scan btn btn-appbase btn-block">ESCANEAR</button></div>
				</form>  
            </ul>
	    	 		
	    </div>
	    <div class="content">	
	    	<div class="content-listado"></div>    		    	 
			<div class="busqueda-resultado"></div>
	    </div>