        <header class="bar bar-nav">
          <div class="btn-bar btn-nav pull-left">
            <img class="vertical-center" src="assets/img/logo-mini.png"/>
          </div>
          <div class="btn-base btn-nav dropdown pull-right" id="btn-sincronizar">
                SINCRONIZAR
            </div>
          <h1 class="title">Acceder</h1>
        </header>

<div class="content">
      <div class="content-padded text-center">
        <div class="text-center">
          <h2>{{nombre_app}}</h2>
          <h4>UPO</h4>
        </div>
        <img src="assets/img/LOGO.png" class="img-logo-main">
      </div>
      <div class="card" style="padding: 16px;">
        <form>
              <input required type="text" id="txt-login" placeholder="Usuario">
              <input required type="password" id="txt-clave" placeholder="Clave">
              <button class="btn btn-block btn-appbase">ACCEDER</button>
        </form>
      </div>
      
</div>