<header class="bar bar-nav">
	<h1 class="title title-modal-mensaje">{{titulo}}</h1>
</header>
<div class="block-progressbar" style="padding-top: 50px;">
    <small>{{texto_informacion}}</small>
    <div class="cargando">
    	<img src="assets/img/cargando.gif" style="height: 35px;">
    </div>
</div>