<header class="bar bar-nav">
			<h1 class="title title-progressbar">{{titulo}}</h1>
		</header>
		<div class="block-progressbar">
    		<small>{{texto_informacion}}</small>
    		<progress value="{{valor}}" max="100" style="width: 90%;"></progress>
    	</div>